---
- name: Install Nginx
  ansible.builtin.apt:
    name: nginx
    state: present
    update_cache: true

- name: Check nginx version
  ansible.builtin.command: nginx -v
  register: nginx_version
  changed_when: false
