version: 2.1

jobs:
  test-ansible-role:
    docker:
      - image: cimg/python:3.10
    steps:
      - checkout

      - run:
          name: Install Ansible
          command: |
            python -m pip install --upgrade pip
            pip install ansible

      - run:
          name: Create ansible config
          command: |
            echo "[defaults]" > ansible.cfg
            echo "roles_path=roles" >> ansible.cfg

      - run:
          name: Run Ansible role test
          command: |
            ansible-playbook tests/test.yml -i localhost, -c local

workflows:
  ansible-role-workflow:
    jobs:
      - test-ansible-role
