---
- name: Verify nginx installation
  hosts: all
  become: true
  tasks:

    - name: Check nginx version
      command: nginx -v
      register: nginx_version
      changed_when: false
      ignore_errors: true

    - name: Assert nginx installed successfully
      assert:
        that:
          - nginx_version.rc == 0
        fail_msg: "Nginx is not installed!"
        success_msg: "Nginx is installed correctly!"
